.component {
  background-color: #f5f5dc;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  *:not(h3) {
    margin: 0 auto;
  }
}

.component-header {
  font-family: Courier New, Courier, monospace;
  font-size: 1.2rem;
  color: #000057;
  width: auto;
}

.frm-button {
  color: white;
  background-color: $active-color;
  padding: 10px 25px;
  font-size: 1.4rem;
  font-family: $font_Secondary;
}

.nav-link {
  font-size: 20px;
  a {
    color: white;
    background-color: $active-color;
    text-decoration: none;
    padding: 10% 15%;
    font-family: $font_Secondary;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    &:hover {
      text-decoration: none !important;
      color: $active-color;
      background-color: white;
      font-size: 1.1em;
      padding: 10% 14%;
      transition: background 0.5s ease-in-out;
    }
  }
}

.page-header {
  font-family: $font_Primary;
  font-size: 2rem;
  color: $active-color;
}

.menu {
  position: relative;
  .submenu {
    display: none;
  }
  &:hover {
    .submenu {
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      flex-direction: column;
    }
  }
}
