@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

// Fonts
$font_Primary: 'Ubuntu' sans-serif;
$font_Secondary: 'Raleway', sans-serif;

// Colors
$active-color: #323283;
